.product {
    cursor: pointer;
    text-align: center;
    padding: 0.5rem;

    &__tag {
        display: block;
        font-size: 0.75rem;
        font-weight: 600;
        color: #d82323;
        margin-bottom: 0.3rem;
    }

    &__image {
        width: 9.375rem;
        margin-bottom: 0.9375rem;
    }

    &__name {
        font-size: clamp(1rem, 2vw, 1.25rem);
        font-weight: 500;
        margin-bottom: 0.3125rem;
    }

    &__price {
        font-size: clamp(0.85rem, 1.5vw, 1rem);
        font-weight: 300;
    }

    &:hover {
        background-color: rgba(255, 255, 255, 0.1);
        transform: scale(1.02);
        transition: transform 0.2s ease-in-out;
    }
}

@media (hover: none) {
    .product:hover {
        transform: none;
    }
}
